@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./1-gallery.css');

.feedback-form {
  border-radius: 8px;
    border: solid 1px black;
    padding: 24px;
    max-width: 384px;
    margin: 100px auto 0;
    height: 272px;
}



.form-input {
  width: 95%;
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 5px;
  resize: vertical;
}

.form-text{
  width: 95%;
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 5px;
  resize: vertical;
}

.form-button {
  margin-top: 16px;
font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
border: 0;
background: #4e75ff;
color: #fff;
}

.form-label {
}

.form-button:hover {
  background: #6c8cff;
}